body {
    margin: 0;
    background-color:#FAFAFA;
    font-family: montserrat, serif;
}

.app-container {
    display: flex;
}



/**************************
     SIDEBAR NAVIGATION
  *************************/

.sidebar-container {
    height: 100vh;
    width: 282px;
    background-color: #FFF;
    border-right: solid 1.5px #DEDEDE;
    display: flex;
}


.profile-name-badge {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 240px;
    height: 75px;
    background-color: #C0C3C5;
    margin-left: 16px;
    margin-top: 25px;
    font-weight: 500;
    font-size: 14px;
    color: #353535;
    border-radius: 12px;
}

.profile-name-badge img {
    margin: 0 10px 0 20px;
}

.sidebar-company-logo {
    margin: 5px 0 0 5px;
}


.nav-item-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

}

.nav-item-container img {
    width: 25px;
    height: 25px;
    margin: 0 20px 0 40px;
}

.nav-item {
    display: flex;
    background-color: #fff;
    width: 280px;
    height:50px;
    align-items: center;
    font-weight: 500;
    color: #637381;
    font-size: 14px;
}

.nav-item-selected {
    background-color:#EFD3FF;
    color: #A400FF;
    cursor: pointer;
    font-weight: 600;
    border-right: solid 3px #a400ff;
}

.nav-item:hover {
    background-color:#EFD3FF;
    color: #A400FF;
    cursor: pointer;
    font-weight: 600;
    border-right: solid 3px #a400ff;
}

/**************************
          ARTICLE
  *************************/

.article-container {
    width: 100vw;
}

.article-header {
    object-fit: cover;
    width: 100%;
    height: 529px;
}

.header-title {
    position: absolute;
    margin-top: 400px;
    margin-left: 10%;
    padding: 0 10px 0px 10px;
    font-size: 50px;
    background-color: white;
    font-weight: 800;
}

.article-wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.top-section {
    margin-top: 100px;
    background-color: red;
}


.item-1 {
    font-size: 40px;
    width: 320.23px;
    height: 238.84px;
    left: 339px;
    top: 649.43px;
    font-weight: bold;
}

.item-2 {
    height: 296.73748779296875px;
    max-width: 280px;
    left: 1050.6875px;
    top: 643px;
}

.date-box {
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
}

.article-back-button {
    margin-left: 10%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    color: black;
    padding-bottom: 2px;
    border-bottom: solid 2px #c4c4c4;
    max-width: 80px;
}


/**************************

  *************************/

/**************************
    Login Page
  *************************/
.login-left-card {
    position: absolute;
    width: 464px;
    height: calc(100% - 34px);
    margin-left: 25px;
    margin-top: 17px;
    margin-bottom: 17px;

    background: #FFFFFF;
    box-shadow: 0 0 50px rgba(145, 158, 171, 0.2);
    border-radius: 16px;
}


/**************************
    Discover Page
  *************************/
.discover-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.npoCardStyle {
    display: block;
    width: 450px;
    height: 550px;
}

.npoCard-text-container {
    padding: 20px;
    margin: 10px;

}

.npoHr {
    border-top: 3px solid #A400FF;
}

.npoCardIcon{

    background-color: #DEEAEE;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 5px;
}

.npo-space{
    margin-left: 10px;
}

.npo-search-field .MuiOutlinedInput-root {
    width: 340px;
    border-radius: 25px;

}

.discover-top{
    margin: 50px;
}

/**************************

  *************************/

.login-left-card-icon {
    width: 60px;
    margin: 25px 0 0 25px;
}

.login-left-card-content {
    height: 500px;
    align-self: center;
    width: calc(100% - 120px);
    margin-top: 15%;

}
.login-left-card-content img{
    width: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%

}
.login-content {
    border: 2px solid red;
    height: 500px;
    width: 50%;
}
.login-form {
    width: 100%;
}

.form-button {
    background-color: #a400ff;
}