body {
    margin: 0;
    background-color:#FAFAFA;
    font-family: montserrat, serif;
}

.app-container {
    display: flex;
}

.loading-state {
    display: flex;
}



/**************************
     SIDEBAR NAVIGATION
  *************************/












