body {
    margin: 0;
    background-color:#FAFAFA;
    font-family: montserrat, serif;
}

.app-container {
    display: flex;
}

.loading-state {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-size: 20px;
}

.error-state {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-size: 20px;
}

.error-state h1 {
    font-size: 100px;
    color: grey;
}








