.main-profile-container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}


/**************************
     HEADER
  *************************/

.main-header-container {
    display: flex;
    width: 100%;
    height: 496px;
}

.left-header-section {
    width: 100%;
    background-color: #243447;
    height: 100%;
}

.right-image-section {
    width: 55%;
}

.npo-header-title{
    height: 180px;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    margin: 40px 0 20px 35px;
    max-width: 250px;

}

.header-donate-btn-container {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.video-text-btn {
    display: flex;
    margin-left: 15px;
    border-left: 2px solid #fff;
    height: 55px;
    align-items:center;
    padding-left: 15px;
    font-size:20px;
    font-weight: 500;
    color: #fff;

}


/* TILES */

.header-tile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 28px;
    margin-top: 40px;

}

.header-tile {
    display: flex;
    flex-direction:column;
    height: 110px;
    min-width: 120px;
    max-width: 120px;
    background-color: #fff;
    border-radius: 12px;
    margin: 15px 10px;
    justify-content:center;
    align-items: center;
}

.tile-data-text {
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
}

.tile-data-sub-text {
    font-size: 12px;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 5px;
    max-height: 30px;
    overflow: hidden;
}

.right-image-section  {

}
.right-image-section img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     overflow: hidden;
}


/**************************
    NAVIGATION
 *************************/

.tab-navigation-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 810px;
    margin-top: 55px;
}
.firstLetterCap{
    text-transform: uppercase;
    margin-left: 2px;
}

.timeline-section {
    width: 100%;
    height: 220px;
    margin-top: 70px;
    position: relative;
}

.timeline-section img{
    width: 1000px;
    height: 184px;
    align-self: flex-start;
    position: absolute;
}


/**************************
    NAVIGATION
 *************************/

.content-container {
    display: flex;
    align-self: center;
}

/**************************
    Subscription modal
 *************************/

.allocate-project-text {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.badge-style {
    font-size: 10px;
    color: #687285;
    background-color: rgba(148, 157, 176, 0.16);
    border-radius: 5px;
    padding: 2px 5px;
}

