

.information-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.mission-info-section {
    display: flex;
    flex-direction: row;
}

.mission-paragraph {
    min-width: 495px;
    max-width: 495px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

.paragraph-title{
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content:center;
    border-bottom: solid 1px #A400FF;
    padding-bottom: 10px;
}

.paragraph-text{
    max-width: 400px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 150%;
    margin-top: 25px;
}

.mission-map-img {
    min-width: 495px;
    height: 330px;
}

.vision-title{
    font-size:30px;
    font-weight: 600;
    border-bottom: solid 1px #A400FF;

    padding-bottom: 10px;
}



.vision-section{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 90px;
}

.vision-box-section{
    margin-top: 40px;
    display: flex;
}

.vision-box{
    width: 390px;
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.vision-box-text{
    width: 300px;
    display: flex;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 300;
}

.sub-heading{
    font-size:30px;
    font-weight: 600;
    padding-bottom: 10px;
    margin-left: 150px;
}

.article-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.big-article{
    width: 440px;
    height: 240px;
    background-color: #243447;
    margin: 10px;
    border-radius: 16px;

}

.small-article{
    width: 203px;
    height: 240px;
    background-color: #243447;
    margin: 10px;
    border-radius: 16px;
}

.article-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.overview-development-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.overview-development-header{
    font-size: 24px;
    font-weight: 600;
    padding: 10px 15px;
    border-bottom: 2px solid #7209B7;
    margin-bottom: 40px;
}

