.account-page-wrapper {
    width: 100vw;
    margin: 75px 5% 0 5%;
}

.account-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 800px;
    margin-top: -20px;
}

.account-page-top-section{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 20px 20px;
}

.account-page-main-title {
    font-size: 45px;
    font-weight: 700;
    margin: 60px 0 0 0;
}

.account-page-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.account-page-stronger {
    font-size: 16px;
    font-weight: 600;
}

.account-page-payment{
    font-size: 14px;
    font-weight: 500;
}

.account-page-text{
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.account-page-middle-section{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 20px 20px;
}

.account-page-edit{
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    padding-bottom: 2px;
    cursor: pointer;
    border-bottom: #5D5FEF solid 1px;
}

.settings-content-container{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 0 50px rgba(145, 158, 171, 0.2);
    background-color: #FFF;
    width: 500px;
}

.settings-content-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings-card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 220px;
}

.table-container{
    align-self: flex-start;
    margin-top: 60px;
    margin-bottom: 5%;
    width: 1000px;
}