/************************
         Articles
*************************/

.containerContentBig{
    display: flex;
    flex-direction: column;
    position: relative;
}

.containerContentBig img{
    object-fit: cover;
    width: 508px;
    height: 500px;
    border-radius: 5%;
}

.contentTextBig{
    max-width: 350px;
    color: white;
    background: hsla(0, 0%, 0%, 0.6);
    overflow-wrap: break-word;
    font-size: large;
    position: absolute;
    bottom: 35px;
}

.dateTextBig {
    max-width: 350px;
    color: black;
    background: white;
    overflow-wrap: break-word;
    font-size: large;
    position: absolute;
    bottom: 110px;
}

.npoTextBig {
    background: black;
    color: white;
    position: absolute;
    right: 0;
    font-size: large;
}

/****
    medium
****/

.contentTextMedium{
    position: absolute;
    max-width: 350px;
    color: white;
    background: hsla(0, 0%, 0%, 0.6);
    overflow-wrap: break-word;
    top: 40%;
}

.contentTextSmall{
    position: absolute;
    max-width: 350px;
    color: white;
    background: hsla(0, 0%, 0%, 0.6);
    overflow-wrap: break-word;
    top: 65%;
    font-size: small;
}

#filter_articles{

}

#articles-container{
    max-height: 100vh;
    max-width: 100vw;
}

#articles-recommendation-container{

}