.article-container {
    width: 100%;
}

.article-header-img {
    object-fit: cover;
    width: 100%;
    height: 529px;
}

.article-header-title {
    position: absolute;
    margin-top: 400px;
    margin-left: 10%;
    padding: 0 10px 0 10px;
    font-size: 50px;
    background-color: white;
    font-weight: 800;
}

.article-date-box {
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
}

.article-back-button {
    margin-left: 10%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    color: black;
    padding-bottom: 2px;
    border-bottom: solid 2px #c4c4c4;
    max-width: 80px;
}

.article-wrapper {
    max-width: 1400px;
    margin: 0% 10% 5% 10%;
}

.article-top-section {
    margin-top: 100px;
}

.article-top-section-sub-title {
    font-size: 40px;
    width: 320px;
    height: 240px;
    font-weight: bold;
}

.article-top-section-paragraph {
    height: 100%;
    max-width: 100%;
    line-height: 150%;
}

.article-middle-section {
    margin-top: 50px;
}

.article-middle-section-header {
    font-size: 20px;
    font-weight: bold;
}

.article-middle-section-paragraph {
    max-width: 100%;
    line-height: 150%;
}

.article-middle-section-paragraph-2 {
    width: 100%;
    line-height: 150%;
}

.article-middle-section-img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;

}

.article-bottom-section {
    margin-top: 50px;
}

.article-bottom-section-img1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.article-bottom-section-img2 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.article-bottom-section-img3 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
