/************************
         Articles
*************************/


.articles-sorter-button {
    text-align: center;
    justify-content: center;
    padding: 20px 20px 5px 20px;
}

.articles-sorter{
    margin-top:12px;
    margin-bottom: 50px;
    font-size: 32px;
}

/************************
    top Grid container
************************/


.articles-wrapper {
    margin: 75px 5% 0 5%;
    max-width: 1500px;
}

.articles-sorter {
    font-size: 25px;
    margin-bottom: 50px;
}


.articles-top-section{
    width: 100%;
    margin-bottom: 100px;
}

.articles-bottom-section{
    width: 100%;
    margin-bottom: 100px;
}

.bottom-header {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #353535;
}

.npo-name{
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
}


.container-0 {
    width: 100%;
}

.container-content-0{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.container-content-0 img{
    object-fit: cover;
    width: 100%;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px rgba(148, 157, 176, 0.24), 0px 16px 32px -4px rgba(148, 157, 176, 1.24);

}

.card-content-container-0 {
    bottom: 5%;
    right: 15px;
    left: 15px;
    position: absolute;
}

.content-text-0{
    max-width: 580px;
    overflow-wrap: break-word;
}

.card-content-text{
    background: hsla(0, 0%, 0%, 0.6);
    line-height: 1.3;
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.card-content-date{
    background: white;
    color: black;
    overflow-wrap: break-word;
    font-size: 20px;
}
.date-text-0 {
    overflow-wrap: break-word;
}

.npo-text-0 {
    background: black;
    color: white;
    position: absolute;
    right: 0;
    border-radius: 0 20px 0 0;

}




/****
    medium
****/

.container-medium {
    width: 100%;
}

.articles-container-content-1{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.articles-container-content-1 img{
    object-fit: cover;
    width: 100%;
    height: 334px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px rgba(148, 157, 176, 0.24), 0px 16px 32px -4px rgba(148, 157, 176, 1.24);
}
.content-text-1{
    top: 220px;
    left: 5px;
    max-width: 500px;
    overflow-wrap: break-word;
}

.date-text-1 {
    max-width: 200px;
    font-size: 15px;
    overflow-wrap: break-word;
}

.card-content-container-1{
    bottom: 5%;
    right: 15px;
    left: 15px;
    position: absolute;
}

.npo-text-1 {
    background: black;
    color: white;
    position: absolute;
    right: 0;
    font-size: 20px;
    border-radius: 0 20px 0 0;
}

/********
    small
********/

.container-small {
    width: 100%;
}


.container-content-2{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}


.container-content-2 img{
    object-fit: cover;
    width: 100%;
    height: 334px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px rgba(148, 157, 176, 0.24), 0px 16px 32px -4px rgba(148, 157, 176, 1.24);
}

.content-text-2{
    max-width: 310px;
    overflow-wrap: break-word;
}

.card-content-text-2{
    background: hsla(0, 0%, 0%, 0.6);
    line-height: 1.3;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.card-content-container-2{
    bottom: 5%;
    right: 15px;
    left: 15px;
    position: absolute;
    font-size: 18px;
}


.date-text-2{
    max-width: 200px;
    overflow-wrap: break-word;
    font-size: 14px;
}

.npo-text-2 {
    background: black;
    color: white;
    position: absolute;
    right: 0;
    font-size: 12px;
    border-radius: 0 20px 0 0;
}
