.dashboard-container {
    width: 1000px;
    height: 100%;
    margin: 0 5% 0 5%;
}

.dashboard-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*
 student impact
*/


.students-impact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    height: 300px;
    background-color: #FFF7CD;
    border-radius: 20px;
    color: #637381;
    box-shadow: 0px 0px 2px rgba(148, 157, 176, 0.24), 0px 16px 32px -4px rgba(148, 157, 176, 0.24);
}

.students-circle-icon-wrapper{
    display: flex;
    border:1px solid rgba(0, 0, 0, 0.09);
    border-radius:50%;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.students-count-arrow-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.students-description-wrapper{
    display: flex;
    margin-top: 21px;
}

.students-count-wrapper{
    display: flex;
    height: 39px;
    width: 69px;
    justify-content: center;
}

.students-arrow-forward-wrapper{
    display: flex;
}

.students-arrow-back-wrapper{
    display: flex;

}

.students-impact-count{
    font-size: 22px;
    align-self: center;
    justify-self: center;
}


.student-back-button{
    display: flex;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.students-forward-button{
    display: flex;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}



/************************
    socialmedia section
*************************/

.socialmedia-template-container {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 20px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(148, 157, 176, 0.5), 0px 16px 32px -4px rgba(148, 157, 176, 0.5);

}


.socialmedia-template-container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    opacity: 70%;
}

.socialmedia-template-content-top {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: 45%;
}
.socialmedia-template-content-bot {
    display: flex;
    position: absolute;
    color: white;
    top: 65%;
    font-size: 17px;
    cursor: pointer;
}




/************************
    Highlighted partners
*************************/

.highlighted-partners-container{
    display: flex;
    flex-direction: column;
    background-color: #FFE7D9;
    border-radius: 16px;
    height: 300px;
    align-content: center;
    box-shadow: 0px 0px 2px rgba(148, 157, 176, 0.24), 0px 16px 32px -4px rgba(148, 157, 176, 0.24);
}
.highlighted-title-view-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
}

.highlighted-partners-title{
    justify-self: flex-start;
    margin-left: 16px;
    width: 100px;
    white-space: nowrap;
}

.highlighted-view-all{
    align-self: center;
    flex: 50%;
    text-align: right;
    cursor:pointer;
    font-size: 14px;
    font-weight: 500;
    color: #637381;
    margin-right: 21px;
}




.accordion-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;

}

.accordion-title-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.accordion-title{
    font-size: 18px;
    font-weight: bold;
}

.accordion-bottom-container {
    border-radius: 16px;
}

.highlighted-partners-content-container{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 5px;
}

.highlighted-partners-project{
    display: flex;
    align-self: center;
    color: #353535;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding-left: 35px;
    width: 100%;
}

.highlighted-partners-progress{
    display: flex;
    align-self: center;
    justify-self: flex-end;
    width: 100%;

}

.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary{
   background-color: #FFD878;
}

.MuiPaper-root.MuiAccordion-root:first-of-type{
    border-radius: 16px;
    box-shadow: none;
}

.MuiPaper-root.MuiAccordion-root:nth-of-type(2){
    border-radius: 16px;
    box-shadow: none;
}

.MuiPaper-root.MuiAccordion-root::before {
    background-color: #FFE7D9;
}


/*
    bottoms section
*/

.bottom-container-dashboard{
    height: 500px;
}
/*
 donation history
*/

.donation-history-container{
    height: 500px;

}


.donation-history-title{
    margin-top: 25px;
}
.donation-history-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    max-height: 485px;
    min-height: 485px;
    border-radius: 16px;
    background-color: #FFFF;
    box-shadow: 0px 0px 2px rgba(148, 157, 176, 0.24), 0px 16px 32px -4px rgba(148, 157, 176, 0.24);
}

.donation-history-filter-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donation-history-filter-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.donation-filter-select-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.donation-input-label-wrapper{
    display:flex;
    justify-content: center;
}

.donation-filter-select{
    width: 200px;
    height: 30px;
    border: 15px;
    border-radius: 16px;
    background-color: #551477;
}

.donation-see-all-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

.donation-history-timeline-container{
    height: 355px;
}
.donation-see-all{
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid #7209B7;
    cursor: pointer;
}

.donation-list-container{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 25px;

}

.donation-list-item{
    display: flex;
    flex-direction: row;
    width: 340px;
    height: 55px;
    border-left: 1px solid #7209B7;
    position: relative;
    padding: 8px 0;
}

.donation-timeline-dot{
    position: absolute;
    height: 9px;
    width: 9px;
    border-radius: 50px;
    background-color: #7209B7;
    top: 20px;
    left: -5px;
}

.donation-data-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.left-donation-text {
    margin: 5px 15px;
}
.right-donation-text{
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}

/**map**/


.dashboard-map-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    max-height:485px;
    border-radius: 16px;
    background-color: #FFFF;
    box-shadow: 0px 0px 2px rgba(148, 157, 176, 0.24), 0px 16px 32px -4px rgba(148, 157, 176, 0.24);
}
.map-text-container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 15px;
}

.map-title{
    font-size: 24px;
    font-weight: 600;
}

.map-subtitle{
    color: #353535;
    font-size: 14px;
    margin-top: 2px;
    font-weight: 400;
}

.dashboard-header-sub-title{
    font-size: 16px;
    font-weight: 500;
    color: #637381;
    margin-top: 25px;
}

.dashboard-placeholder-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placeholder-image{

}