.financials-page-wrapper {
    width: 100vw;
    margin: 75px 5% 0 5%;
}

.financials-page-container {

}

.donation-history-page-container{
}

.report-page{
    position: relative;
}

.report-top-right{
    position: absolute;
    top: 50px;
    right: 50px;
}

.report-top-left{
    position: absolute;
    top: 50px;
    left:50px;
}

.report-table{
    position: absolute;
    top: 500px;
    left:50px;
}


.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
    background-color: #7209B7;
    color: #ffffff;
    text-align: left;

}

.styled-table th,
.styled-table td {
    padding: 15px 5px;

}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #7209B7;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: mediumpurple;



}.styled-table-finances {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table-finances thead tr {
    background-color: #464D51;
    color: #ffffff;
    text-align: left;
    height: 35px;
}

.styled-table-finances th {
    border-right: 1px solid black;
    padding-left: 10px;
}


.styled-table-finances td {
    padding: 15px 5px;

}

.styled-table-finances tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table-finances tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table-finances tbody tr:last-of-type {
    border-bottom: 2px solid #7209B7;
}

.styled-table-finances tbody tr.active-row {
    font-weight: bold;
    color: mediumpurple;
}





/* Dennis styling report*/
.report-history-filter-wrapper{
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.accounting-image{
    width: 400px;
}

.accounting-calender-button-container{
    display: flex;
    align-items: center;
}

.accounting-calender-wrapper{
    display: flex;
    width: 100%;
}

.accounting-calender-wrapper.MuiSvgIcon-root{
    display: flex;
    align-content: center;
}


.accounting-button-wrapper{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
}

.account-tax-print-wrapper{
    display: flex;
    flex-direction: row;
    width: 900px;
    margin-top: 40px;
}

.accounting-print-button{
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: flex-end;
}

.accounting-icon-calender-wrapper{
    display: flex;
    align-self: center;
    height: 100%;
}



.account-tax-wrapper{
    width: 50%;
}

.donation-history-page-wrapper{
    width: 900px;
}

.MuiButtonBase-root.MuiButton-root:hover{

}

.financials-subscription-wrapper{
    padding: 50px;
    position: relative;
}