
.donation-history-page-container{
    width: 1500px;
    padding: 100px;
}

.report-page{
    position: relative;

}

.report-top-right{
    position: absolute;
    top: 50px;
    right: 50px;
}

.report-top-left{
    position: absolute;
    top: 50px;
    left:50px;
}

.report-table{
    position: absolute;
    top: 500px;
    left:50px;
}


.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #7209B7;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #7209B7;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: mediumpurple;
}





/* Dennis styling report*/
.report-history-filter-wrapper{
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.report-donation-history-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #637381;
    width: 286px;
    height: 38px;
    border-radius: 8px 8px 0 0;

}

.report-subscription-history-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #637381;
    width: 286px;
    height: 38px;
    border-radius: 8px 8px 0 0;

}

.report-statistics-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #637381;
    width: 286px;
    height: 38px;
    border-radius: 8px 8px 0 0;

}

.accounting-image{
    width: 400px;
}

.accounting-calender{
    display: flex;
    margin-bottom: 25px;
    align-items: center;
}

.accounting-icon-calender{
    display: flex;

}