/**************************
    Login Page
  *************************/
.login-form a {
    text-decoration: none;
    line-height: 2em;
}

.login-page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%
}

.login-left-card {
    display: flex;
    flex-direction: column;

    width: 600px;
    height: calc(100% - 34px);
    margin-left: 25px;
    margin-top: 17px;
    margin-bottom: 17px;

    background: #FFFFFF;
    box-shadow: 0 0 50px rgba(145, 158, 171, 0.2);
    border-radius: 16px;
}

.login-left-card-icon {
    width: 60px;
    margin: 25px 0 0 25px;
}

.login-left-card-content {
    height: 500px;
    align-self: center;
    width: calc(100% - 120px);
    margin-top: 15%;

}
.login-left-card-content img{
    width: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%

}
.login-content {
    height: 500px;
    width: 50%;
}
.login-form {
    width: 100%;
}

.form-button {
    background-color: #a400ff;
}
.bottom-text {
    font-size: 10px;
}

.bottom-text-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
/**************************

  *************************/