/**************************
    Login Page
  *************************/
.login-form a {
    text-decoration: none;
    line-height: 2em;
}

.login-page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;

    background-size: cover;
    background-image: url("../media/login_backdrop.png");
    background-color: white;
}

.login-left-card {
    display: flex;
    flex-direction: column;

    width: 600px;
    height: calc(100% - 34px);
    margin-left: 25px;
    margin-top: 17px;
    margin-bottom: 17px;

    background: #FFFFFF;
    box-shadow: 0 0 50px rgba(145, 158, 171, 0.2);
    border-radius: 16px;
}

.login-left-card-icon {
    width: 60px;
    margin: 25px 0 0 25px;
}

.login-left-card-content {
    height: 500px;
    align-self: center;
    width: calc(100% - 120px);
    margin-top: 15%;

}
.login-left-card-content img{
    width: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.login-content {
    position: relative;
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
}

.login-form {
    width: 100%;
}

.form-button {
    background-color: #a400ff;
}
.bottom-text {
    font-size: 10px;
}

.bottom-text-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
/**************************

  *************************/

.back-container {
    position: absolute;
    left: -100px; /*Maybe adjust this*/
    display: flex;
    align-items: center;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 30px;

}

.back-container:hover {
    cursor: pointer;
}

.company-search-list {
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    background-color: white;
}

.company-error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: red;
    background-color: #FFE7D9;
    margin-top: 20px;
    border-radius: 8px;
}

.company-success-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgba(62, 123, 52, 1);
    background-color: rgba(220, 255, 215, 1);
    margin-top: 20px;
    border-radius: 8px;
}

.payment-options-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.company-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.company-list-item button{
    position: absolute;
    right: 0;
}



/* LOGIN CONTENT */


.login-content-header {
    text-align: center;
    margin: 0 0 50px 0;
}

.login-content-header div{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 35px;
}

.login-content-header p {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

.login-content-main {
    width: 100%;
}

.login-content-main Button {
    border-radius: 10px;
    height: 80px;
    text-transform: none;
    font-family: montserrat, serif;
}

.login-content-main .freemium-button h3{
    font-weight: bold;
    margin: 0;
}

.login-content-main .partner-button h3{
    font-weight: bold;
    margin: 0;
}

.login-content-header-subscription-tag {
    display: flex;
    align-items: center;
    justify-content: center;
}


.subscription-type-information-content {
    display: flex;
    position: relative;
    flex-direction: column; /* <- Also inlin to be able to reach MUI root*/
    align-items: center;
    text-align: center;
    margin: 20px 10px;
}

.subscription-type-information-content p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-block-end: 0;
}

.subsctiption-type-info-badge {
    position: absolute;
    height: 21px;
    top: 0;
    right: 0;
    border-radius: 0 10px 0 10px;
    background-color: #FFD878;

}
.subsctiption-type-info-badge p{
    font-weight: 500;
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.select-subscription-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.select-subscription-modal {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.premium {
    color: #7209B7;
}
.freemium {
    color: #464D51;
}