/**************************
     SIDEBAR NAVIGATION
*************************/

.sidebar-container {
    height: 100vh;
    width: 290px;
    background-color: #FFF;
    border-right: solid 1.5px #DEDEDE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


.profile-name-badge {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 240px;
    height: 75px;
    background-color: #EDF2F6;
    margin-left: 16px;
    margin-top: 25px;
    font-weight: 500;
    font-size: 14px;
    color: #353535;
    border-radius: 12px;
}

.profile-name-badge img {
    margin: 0 10px 0 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.sidebar-company-logo {
    margin: 5px 0 0 5px;
}


.nav-item-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}



.nav-item {
    display: flex;
    background-color: #fff;
    width: 268px;
    height:045px;
    align-items: center;
    font-weight: 500;
    color: #637381;
    font-size: 14px;
    padding-left: 20px;
}

.nav-item-selected {
    display: flex;
    background-color: #EFD3FF;
    width: 268px;
    height:045px;
    align-items: center;
    font-weight: 500;
    color: #A400FF;
    font-size: 14px;
    padding-left: 20px;
    border-right: solid 3px #a400ff;
}


.nav-item:hover {
    background-color: #ece9e9;
    border-right: solid 3px #ece9e9;
    cursor: pointer;
}

.sidebar-image-container {
margin-bottom: -33px;
}
