.top-navbar-container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 9;
}

.top-navbar-icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
}

.top-navbar-icon-button-container {
  margin-right: 5px;
}

.top-navbar-icon-button {
  width: 25px;
}
